<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>loginservlet</servlet-name>
		<servlet-class>servlet.loginservlet</servlet-class>
	</servlet>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>departmentservlet</servlet-name>
		<servlet-class>servlet.departmentservlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>outservlet</servlet-name>
		<servlet-class>servlet.outservlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>echartservlet</servlet-name>
		<servlet-class>servlet.echartservlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>EmployeeServlet</servlet-name>
		<servlet-class>servlet.EmployeeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PunchCardServlet</servlet-name>
		<servlet-class>servlet.PunchCardServlet</servlet-class>
	</servlet>







	<servlet-mapping>
		<servlet-name>loginservlet</servlet-name>
		<url-pattern>/servlet/loginservlet</url-pattern>
	</servlet-mapping>
	<!-- <servlet-mapping> <servlet-name>departmentservlet</servlet-name> <url-pattern>/servlet/departmentservlet</url-pattern> 
		</servlet-mapping> <servlet-mapping> <servlet-name>outservlet</servlet-name> 
		<url-pattern>/servlet/outservlet</url-pattern> </servlet-mapping> <servlet-mapping> 
		<servlet-name>echartservlet</servlet-name> <url-pattern>/servlet/echartservlet</url-pattern> 
		</servlet-mapping> -->


</web-app>